* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

footer {
    font-family: 'poppins', sans-serif;
    color: gray;
    padding: 20px 23px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;

    /* background-color:#a80000; */
    background-color: #2a0182;
}

footer span a {
    color: red;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}